.navbar {
  width: 100%;
  position: relative;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: Inter;
  z-index: 90;
  user-select: none;

  .brand {
    position: relative;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    background-color: #fff;
    height: 60px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    box-sizing: border-box;
    transition: ease-in 100ms;
    cursor: pointer;

    .projekterank {
      position: relative;
      text-decoration: none;
      color: #000000;
      font-weight: bold;

      .rank {
        color: #4c81be;
      }
    }

    #tgmeck {
      position: absolute;
      right: 0px;
      top: 0px;
    }

    &:hover {
      box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.35);
      transition: ease-in 100ms;
    }
  }

  .rbuttonrow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;



    .primarybutton {
      border-radius: 4px;
      background-color: #fff;
      height: 60px;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 10px 15px;
      box-sizing: border-box;
      transition: ease-in 100ms;
      text-decoration: none;
      box-shadow: 0px 0px 4px 0px #4c81be;

      color: #4c81be;
      font-weight: bold;
      font-size: 20px;
      user-select: none;

      &.active {
        display: none;
      }

      &:hover {
        box-shadow: 0px 0px 7px 0px #4c81be;
        transition: ease-in 100ms;
      }
    }

    .subbutton {
      border-radius: 4px;
      background-color: #fff;
      height: 60px;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 10px 15px;
      box-sizing: border-box;
      transition: ease-in 100ms;
      text-decoration: none;

      color: #000000;
      font-weight: bold;
      font-size: 20px;
      user-select: none;

      &.active {
        display: none;
      }

      &:hover {
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.35);
        transition: ease-in 100ms;
      }
    }

  }
}
